* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 100%;
  background-color: white;
}

.box {
  width:300px;
  margin: 50px 30px 50px;
}

.box-container {
  padding: 10px;
  background-color: #EEEEEE;
}

.box-steps {
  text-align: left;
  position: absolute;
  background-color: #ff9a4b;
  color: #EEEEEE;
  width: 40px;
}

.box-img01 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: contain;
}

.box-text-title {
  padding-top: 15px;
  padding-bottom: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}
